.footer--section{
	background:#474747;
	color:#fff;
	width:100%;
	height:auto;
	ul{
		padding-top:10px;
		margin-left:0px;
	}
	li{
		list-style-type:none;
	}
	h5{
		padding-top:10px;
		color:#fff;
	}
}

.footer--section--social{
	.footer--section--social__icons{
		background:#d7d7d7;
		width:50px;
		height:50px;
		@include border-radius(25px, 25px);
		margin-top:50px;
		float:right;
	}
}