/* All Wireframe Styles for Hollywood Fitness Go Here */

/*For Orginizational purposes please provide comments */

h1,h2,h3{
	color:$header--text;
}
.button{
	background:$div--box__1;
	color:#fff;

	&:hover{
		background:$header--text
	}
}
header{
	background:$header--background;
	color:$header--text;
	padding:20px;
	height:90px;
	border-bottom:1px solid #fff;
	.hollywood--fitness--logo{
		background:$div--box__1;
		width:125px;
		height:60px;
	}
	.hollywood--fitness--logo__link{
		color:$header--text;
		font-weight:bold;
		position:relative;
		top:20px;
		left:6px;
		padding:35px;
	}
	.main--navigation ul{
		list-style-type:none;
		display:inline;
		float:right;
		padding-top:10px;
		li{
			float:left;
			padding-left:10px;
			padding-right:10px;
		}
		a{
			color:$header--text;
			font-weight:600;
			font-size:16px;
			&:hover{
				// color:$gold;
				color:#aaa;
				outline: none;
			}
		} 
	}
}
.homepage--image--slider{
	background:$header--background;
	color:$header--text;
	height:450px;
	width:100%;
}
.homepage--image--slider__content{
	text-align:center;
	padding-top:100px;
}
.homepage--about--section{
	background:$div--box__2;
	color:#fff;
	height:325px;
	width:100%;
}
.homepage--about--section__content{
	text-align:center;
	padding-top:100px;
	h3{
		color:#fff;
	}
}
.homepage--information--section{
	padding-top:50px;
}
.homepage--information--section--local__icon, .homepage--information--section--fitness__icon, .homepage--information--section--community__icon{
	background:#fff;
	border:3px solid $header--background;
	width:100px;
	height:100px;
	@include border-radius(50px, 50px);
	margin-top:100px;
	text-align:center;
}
p.homepage--information--section--local__icon-text,p.homepage--information--section--community__icon-text,p.homepage--information--section--fitness__icon-text{
	position:relative;
	margin-top:25px;
	font-size:rem-calc(28);
	color:#ccc;
}
.homepage--information--section--local__image, .homepage--information--section--community__image, .homepage--information--section--fitness__image{
	background:$header--background;
	width:100%;
	height:300px;
	h4{
		position:relative;
		top:125px;
		left:150px;
		color:#fff;
	}
}
.review--section{
	background:#cbcbcb;
}

