/* All Basic Page Styles for Hollywood Fitness Wireframes Go Here */

/*For Orginizational purposes please create a new SCSS file for each wireframed page, If you have any questions please ask me on Google Plus */

h1,h2,h3{
	color:$header--text;
}
.button{
	background:$div--box__1;
	color:#fff;

	&:hover{
		background:$header--text
	}
}