&lt;!-- Begin Footer --&gt;
&lt;div class=&quot;row&quot;&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
	&lt;div class=&quot;large-8 columns footer-info&quot;&gt;
		&lt;ul&gt;
			&lt;li class=&quot;footer-info__visit&quot;&gt;&lt;a href=&quot;#&quot;&gt;Visit Us&lt;/a&gt;&lt;/li&gt;
			&lt;li class=&quot;footer-info__contact&quot;&gt;&lt;a href=&quot;#&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
			&lt;li class=&quot;footer-info__hours&quot;&gt;&lt;a href=&quot;#&quot;&gt;Hours&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
	&lt;div class=&quot;large-4 columns footer-social&quot;&gt;
		&lt;ul&gt;
			&lt;li class=&quot;footer-social__facebook&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;icon-facebook&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;li class=&quot;footer-social__instagram&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;icon-instagram&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
			&lt;li class=&quot;footer-social__twitter&quot;&gt;&lt;a href=&quot;#&quot;&gt;&lt;span class=&quot;icon-twitter&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/footer&gt;
&lt;/div&gt;
&lt;!-- End Footer --&gt;