<nav id="nav" class="nav">
	<ul>
		<li><a href="{{ url }}">Rates</a></li>
		<li><a href="{{ url }}">Activtrax</a></li>
		<li><a href="{{ url }}">Personal Training</a></li>
		<li><a href="{{ url }}">Calender</a></li>
		<li><a href="{{ url }}">Media</a></li>
		<li><a href="{{ url }}">Blog</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
