<ul class="sg-colors">

<h1>Color Scheme</h2>
	<li>
		<span class="sg-swatch" style="background: #ec6d2f;"></span>
		<span class="sg-label">#ec6d2f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ec2f2f;"></span>
		<span class="sg-label">#ec2f2f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1f3550;"></span>
		<span class="sg-label">#1f3550</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #142943;"></span>
		<span class="sg-label">#142943</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #81acee;"></span>
		<span class="sg-label">#81acee</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e1e7f1;"></span>
		<span class="sg-label">#e1e7f1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5f7fb;"></span>
		<span class="sg-label">#f5f7fb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ec2f2f;"></span>
		<span class="sg-label">#ec2f2f</span>
	</li>
</ul>