<!-- Begin Footer -->
<div class="row">
<footer class="footer" role="contentinfo">
	<div class="large-8 columns footer-info">
		<ul>
			<li><a href="#">Visit Us</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Hours</a></li>
		</ul>
	</div>
	<div class="large-4 columns footer-social">
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Twitter</a></li>
		</ul>
	</div>
</footer>
</div>
<!-- End Footer -->