&lt;div class=&quot;row&quot;&gt;
	&lt;div class=&quot;large-12 columns&quot;&gt;
		{{&gt; molecules-tout-full }}
	&lt;/div&gt;
	{{&gt; molecules-tout-left }}
	{{&gt; molecules-tout-right }}
	{{&gt; molecules-tout-full}}
&lt;/div&gt;