&lt;div class=&quot;page row&quot; id=&quot;page&quot;&gt;
	&lt;div class=&quot;large-12 columns&quot;&gt;
		{{&gt; organisms-header }}
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;container&quot;&gt;

	{{# slide}}
		{{&gt; molecules-slide}}
	{{/ slide}}

	{{# hero }}
		{{&gt; molecules-block-hero }}
	{{/ hero}}

	{{# tout-full-first }}
	  {{&gt; molecules-tout-full }}
	{{/ tout-full-first }}

	{{# tout-left}}
		{{&gt; molecules-tout-left}}
	{{/ tout-left}}

	{{# tout-full-second }}
		{{&gt; molecules-tout-full }}
	{{/ tout-full-second }}

	{{# tout-right}}
		{{&gt; molecules-tout-right}}
	{{/ tout-right}}

	{{# tout-right-quote}}
		{{&gt; molecules-tout-right-quote}}
	{{/ tout-right-quote}}

	{{# tout-membership}}
		{{&gt; molecules-tout-membership}}
	{{/ tout-membership}}

	{{&gt; molecules-contact }}




{{}}

&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;