<div class="row tout-left">
	<div class="large-6 columns tout-left__image">
		<div class="touts-img__left">{{> atoms-square }}</div>
	</div>
	<div class="large-6 columns tout-left__body">
		<h2>{{headline.short}}</h2>
		<p>{{excerpt.short}}</p>
	</div>
</div>