<div class="row tout-right">
	<div class="large-6 columns tout-right__body">
		<h2>{{headline.short}}</h2>
		<p>{{excerpt.short}}</p>
	</div>
	<div class="large-6 columns tout-right__image">
		<div class="touts-img__right">{{> atoms-square }}</div>
	</div>
</div>