<div class="row tout-right">
	<div class="large-6 columns tout-right-quote__body">
		<p>{{excerpt.short}}</p>
	</div>
	<div class="large-6 columns tout-right-quote__image">
		<div class="touts-img__right">{{> atoms-square }}</div>
		<h4 class="tout-right-quote__info">{{headline.short}}</h4>
		<h6 class="tout-right-quote__info">{{headline.medium}}</h6>
	</div>
</div>