<div class="row membership">
	<div class="large-6 columns membership-basic">
		<h3 class="membership-heading">{{headline.short}}</h3>
		<p>{{excerpt.short}}</p>
		<p><a href="#" class="btn">Learn More</a></p>

	</div>
	<div class="large-6 columns membership-premium">
		<h3 class="membership-heading">{{headline.medium}}</h3>
		<p>{{excerpt.short}}</p>
		<p><a href="#" class="btn">Learn More</a></p>
	</div>
</div>