<div class="row contact-section">
	<div class="row">
	    <div class="large-12 columns">
	    	<h4>Need More Information?</h4>
	    </div>
	</div>
	<form>
		<div class="row">
			<div class="large-6 columns">
			  <input type="text" placeholder="First Name" />
			</div>
			<div class="large-6 columns">
			  <input type="text" placeholder="Last Name" />
			</div>
		</div>
		<div class="row">
			<div class="large-6 medium-6 columns">
			  <input type="text" placeholder="Phone" />
			</div>
			<div class="large-6 medium-6 columns">
			  <input type="text" placeholder="Email" />
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
			  <textarea placeholder="Message" class="contact--form--message"></textarea>
			</div>
			<div class="medium-4 columns">
				<a href="#" class="small round button">Submit</a>
			</div>
		</div>
	</form>
</div>