/* line 4, jrstyles.scss */
h2, h3, h4 {
  font-size: 35px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

/* line 12, jrstyles.scss */
p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

/* line 18, jrstyles.scss */
.slide {
  background: rgba(242, 128, 80, 0.95);
  background: -moz-linear-gradient(left, rgba(242, 128, 80, 0.95) 0%, rgba(236, 47, 47, 0.95) 65%, rgba(236, 47, 47, 0.95) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242, 128, 80, 0.95)), color-stop(65%, rgba(236, 47, 47, 0.95)), color-stop(100%, rgba(236, 47, 47, 0.95)));
  background: -webkit-linear-gradient(left, rgba(242, 128, 80, 0.95) 0%, rgba(236, 47, 47, 0.95) 65%, rgba(236, 47, 47, 0.95) 100%);
  background: -o-linear-gradient(left, rgba(242, 128, 80, 0.95) 0%, rgba(236, 47, 47, 0.95) 65%, rgba(236, 47, 47, 0.95) 100%);
  background: -ms-linear-gradient(left, rgba(242, 128, 80, 0.95) 0%, rgba(236, 47, 47, 0.95) 65%, rgba(236, 47, 47, 0.95) 100%);
  background: linear-gradient(to right, rgba(242, 128, 80, 0.95) 0%, rgba(236, 47, 47, 0.95) 65%, rgba(236, 47, 47, 0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f28050', endColorstr='#ec2f2f', GradientType=1 );
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 295px;
  color: white;
}
/* line 33, jrstyles.scss */
.slide .slides {
  padding: 50px 15px 0 30px;
  height: 295px;
  border-left: 1px solid #ff7a7a;
}
/* line 39, jrstyles.scss */
.slide .slides li {
  padding-bottom: 10px;
}

/* line 44, jrstyles.scss */
.slide h2 {
  color: #fff;
}

/* line 48, jrstyles.scss */
.large-9 {
  padding: 70px;
}

/* line 52, jrstyles.scss */
.tout-full {
  background: #e1e7f1;
  text-align: center;
  padding-top: 70px;
}

/* line 58, jrstyles.scss */
.tout-full p {
  margin: 0 auto;
  width: 700px;
}

/* line 64, jrstyles.scss */
.tout-full h2 {
  color: #ec2f2f;
}

/* line 68, jrstyles.scss */
.tout-left__body {
  padding-top: 80px;
}

/* line 69, jrstyles.scss */
.tout-left__body h2 {
  color: #ec2f2f;
}

/* line 71, jrstyles.scss */
.tout-right__body {
  padding: 80px 40px 0 40px;
}

/* line 72, jrstyles.scss */
.tout-right__body h2 {
  color: #ec2f2f;
}

/* line 75, jrstyles.scss */
.tout-right-quote__body {
  background: #ec2f2f;
  background: -moz-linear-gradient(-45deg, #ec2f2f 0%, #ec2f2f 35%, #f28050 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ec2f2f), color-stop(35%, #ec2f2f), color-stop(100%, #f28050));
  background: -webkit-linear-gradient(-45deg, #ec2f2f 0%, #ec2f2f 35%, #f28050 100%);
  background: -o-linear-gradient(-45deg, #ec2f2f 0%, #ec2f2f 35%, #f28050 100%);
  background: -ms-linear-gradient(-45deg, #ec2f2f 0%, #ec2f2f 35%, #f28050 100%);
  background: linear-gradient(135deg, #ec2f2f 0%, #ec2f2f 35%, #f28050 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec2f2f', endColorstr='#f28050', GradientType=1 );
  height: 450px;
  color: white;
  font-style: italic;
  padding-top: 125px;
}

/* line 90, jrstyles.scss */
.tout-right-quote__body p {
  width: 250px;
  margin: 0 auto;
}

/* line 95, jrstyles.scss */
.touts-img__right {
  padding-top: 50px;
}

/* line 99, jrstyles.scss */
.tout-right-quote__info {
  font-size: 18px;
}

/* line 103, jrstyles.scss */
.membership {
  color: white;
  text-align: center;
}

/* line 104, jrstyles.scss */
.membership h3 {
  color: #81acee;
}

/* line 106, jrstyles.scss */
.membership-basic {
  padding: 100px 75px 0 75px;
}

/* line 107, jrstyles.scss */
.membership-premium {
  padding: 100px 75px 0 75px;
}

/* line 109, jrstyles.scss */
.btn {
  background: #273e5c;
  border: 2px solid #81acee;
  -webkit-border-radius: 1000px;
  cursor: pointer;
  color: #81acee;
  text-align: center;
  display: inline-block;
  padding: 10px 40px;
  font-size: 1rem;
  margin-top: 20px;
}

/* line 122, jrstyles.scss */
.contact-section {
  background: #f3f6f9;
  background: -moz-linear-gradient(top, #f3f6f9 0%, #f3f6f9 18%, #dee3ec 61%, #dee3ec 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f3f6f9), color-stop(18%, #f3f6f9), color-stop(61%, #dee3ec), color-stop(100%, #dee3ec));
  background: -webkit-linear-gradient(top, #f3f6f9 0%, #f3f6f9 18%, #dee3ec 61%, #dee3ec 100%);
  background: -o-linear-gradient(top, #f3f6f9 0%, #f3f6f9 18%, #dee3ec 61%, #dee3ec 100%);
  background: -ms-linear-gradient(top, #f3f6f9 0%, #f3f6f9 18%, #dee3ec 61%, #dee3ec 100%);
  background: linear-gradient(to bottom, #f3f6f9 0%, #f3f6f9 18%, #dee3ec 61%, #dee3ec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f6f9', endColorstr='#dee3ec', GradientType=0 );
  height: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

/* line 137, jrstyles.scss */
.contact-section h4 {
  color: #ec2f2f;
}

/* line 141, jrstyles.scss */
form {
  padding: 20px 150px;
  font-family: "Open Sans", sans-serif;
}

/* line 148, jrstyles.scss */
input[type="text"],
textarea {
  background: #e8edf4;
  border: 1px solid #bacbe0;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 60px;
  color: #131e30;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 162, jrstyles.scss */
input[type="text"]:focus,
textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #bacbe0;
  background: #d5deea;
}

/* line 170, jrstyles.scss */
.contact--form--message {
  height: 150px;
}

/* line 174, jrstyles.scss */
button.round, .button.round, .form-button {
  background: -webkit-linear-gradient(169deg, #ec602f 40%, #ec342f 100%);
}

/* line 178, jrstyles.scss */
::-webkit-input-placeholder {
  color: #131e30;
}

/* line 179, jrstyles.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #131e30;
}

/* line 180, jrstyles.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #131e30;
}

/* line 181, jrstyles.scss */
:-ms-input-placeholder {
  color: #131e30;
}
