&lt;div class=&quot;row contact-section&quot;&gt;
	&lt;div class=&quot;row&quot;&gt;
	    &lt;div class=&quot;large-12 columns&quot;&gt;
	    	&lt;h4&gt;Need More Information?&lt;/h4&gt;
	    &lt;/div&gt;
	&lt;/div&gt;
	&lt;form&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;large-6 columns&quot;&gt;
			  &lt;input type=&quot;text&quot; placeholder=&quot;First Name&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;large-6 columns&quot;&gt;
			  &lt;input type=&quot;text&quot; placeholder=&quot;Last Name&quot; /&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;large-6 medium-6 columns&quot;&gt;
			  &lt;input type=&quot;text&quot; placeholder=&quot;Phone&quot; /&gt;
			&lt;/div&gt;
			&lt;div class=&quot;large-6 medium-6 columns&quot;&gt;
			  &lt;input type=&quot;text&quot; placeholder=&quot;Email&quot; /&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;row&quot;&gt;
			&lt;div class=&quot;large-12 columns&quot;&gt;
			  &lt;textarea placeholder=&quot;Message&quot; class=&quot;contact--form--message&quot;&gt;&lt;/textarea&gt;
			&lt;/div&gt;
			&lt;div class=&quot;medium-4 columns&quot;&gt;
				&lt;a href=&quot;#&quot; class=&quot;small round button&quot;&gt;Submit&lt;/a&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/form&gt;
&lt;/div&gt;