<div class="page row" id="page">
	<div class="large-12 columns">
		{{> organisms-header }}
	</div>
</div>

<div class="">
	{{# hero }}
		{{> molecules-block-hero }}
	{{/ hero}}


{{# slide}}
	{{> molecules-slide}}
{{/ slide}}

{{# tout-full-first }}
  {{> molecules-tout-full }}
{{/ tout-full-first }}

{{# tout-left}}
	{{> molecules-tout-left}}
{{/ tout-left}}

{{# tout-full-second }}
	{{> molecules-tout-full }}
{{/ tout-full-second }}

{{# tout-right}}
	{{> molecules-tout-right}}
{{/ tout-right}}

</div>
	{{> organisms-footer }}
</div>