&lt;div class=&quot;page row&quot; id=&quot;page&quot;&gt;
	&lt;div class=&quot;large-12 columns&quot;&gt;
		{{&gt; organisms-header }}
	&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;&quot;&gt;
	{{# hero }}
		{{&gt; molecules-block-hero }}
	{{/ hero}}


{{# slide}}
	{{&gt; molecules-slide}}
{{/ slide}}

{{# tout-full}}
	{{&gt; molecules-tout-full}}
{{/ tout-full}}

{{# tout-left}}
	{{&gt; molecules-tout-left}}
{{/ tout-left}}

{{# tout-full}}
	{{&gt; molecules-tout-full}}
{{/ tout-full}}

{{# tout-right}}
	{{&gt; molecules-tout-right}}
{{/ tout-right}}

&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;