&lt;div class=&quot;page row&quot; id=&quot;page&quot;&gt;
	&lt;div class=&quot;large-12 columns&quot;&gt;
	{{&gt; organisms-header }}
	&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;hero-image&quot;&gt;
		{{# hero }}
		{{&gt; molecules-block-hero }}
		{{/ hero}}
	&lt;/div&gt;

		
		&lt;hr /&gt;

		
&lt;/div&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;